In [2]:
import pandas as pd
from matplotlib import pyplot as plt

# Load data from a text file
url = 'https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/ml-basics/grades.csv'
df_students = pd.read_csv(url,delimiter=',',header='infer')

In [3]:
# Remove any rows with missing data
df_students = df_students.dropna(axis=0, how='any')
df_students.head()

    Name  StudyHours  Grade
0    Dan       10.00   50.0
1  Joann       11.50   50.0
2  Pedro        9.00   47.0
3  Rosie       16.00   97.0
4  Ethan        9.25   49.0

In [4]:
# Calculate who passed, assuming '60' is the grade needed to pass
passes  = pd.Series(df_students['Grade'] >= 60)
passes

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9      True
10     True
11     True
12    False
13    False
14     True
15    False
16    False
17    False
18    False
19    False
20     True
21     True
Name: Grade, dtype: bool

In [5]:
# Save who passed to the Pandas dataframe
df_students = pd.concat([df_students, passes.rename("Pass")], axis=1)
df_students.head()

    Name  StudyHours  Grade   Pass
0    Dan       10.00   50.0  False
1  Joann       11.50   50.0  False
2  Pedro        9.00   47.0  False
3  Rosie       16.00   97.0   True
4  Ethan        9.25   49.0  False